<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="display-4 text-success">Recreate your own Jungle now!</h1>
      <p class="lead text-dark">A jungle to find all the exotic plants you are looking for!</p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <%= image_tag @product.image.url, alt: "Jungle", class: "img-fluid rounded" %>
    </div>
  </div>
</div>